@charset "UTF-8";

.row {
	justify-content: center;
}

.product__details__pic {
	padding: 0px;
}

.course_bg {
	display: flex;
	align-items: center;
	height: 320px !important;
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin-bottom: 0;
	padding-bottom: 15px;
}

.course_container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	padding-bottom: 30px;
}

/* 강의 디테일페이지 헤더 */
.product__details__tab .nav-tabs {
	justify-content: left;
}
.product__details__tab .nav-tabs .nav-item {
	margin-left: 25px;
	margin-right: 0;
}

/* 강의사진 */
.course_pic {
	width: 50%;
	height: 100%;
	border-radius: 10px;
	z-index: 1;
	border: 1px solid #f3f2ee;
}

/* 강의 정보 영역 */
.course_info_wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
	height: 100%;
	text-align: left;
	padding: 10px 0 10px 30px;
}

.course_info_wrap p {
	margin: 0;
}

.course_links {
	margin-top: 15px !important;
	margin-left: 3px !important;
}

.course_links span {
	color: #545353;
}

.course_grade_name {
	height: 50%;
}

.course_info_etc {
	height: auto;
}

.course_grade_name p {
	display: inline-block;
	color: #282828;
	font-weight: 700;
	font-size: 26px;
	height: auto;
}
.tag span {
	border-radius: 100px;
    background: #f6ecec;
    padding: 5px 10px;
    font-size: 14px;
}
.course_grade {
	display: inline-block;
	padding: 0px 10px;
	background-color: #266fb5;
	font-size: 12px;
	color: #fff;
	margin-bottom: 2px;
	margin-left: 2px;
}

.course_name {
	display: block;
	line-height: 31px;
	margin-top: 8px;
	margin-bottom: 10px
}

.course_info_etc p {
	font-size: 16px;
	font-weight: 700;
}

/* 별점 */
.course_info_etc .rating {
	margin-bottom: 10px;
}

.rating i {
	color: #ffbc00;
	margin-right: -5px;
}

.course_info_etc .rating span {
	margin-left: 10px;
}

.course_teacher {
	display: flex;
	height: 20px;
	gap: 5px;
}


/* 탭관련 */
.product__details__tab {
	padding-top: 30px;
}

.product__details__tab .nav-tabs {
	gap: 30px;
	padding-top: 19px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.product__details__tab .nav-tabs li {
	margin: 0;
}

.product__details__tab .nav-tabs .nav-item .nav-link {
	font-size: 15px;
	font-weight: 600;
	color: #888;
}

.course_script_wrap {
	display: flex;
	align-items: center;
	border: 1px solid #e6e6e6;
	border-radius: 10px;
	padding: 45px 20px;
	margin-bottom: 50px;
	gap: 10px;
}

.intro_text {
	width: 30%;
	text-align: center;
	font-weight: 900;
}

.intro_text span {
	display: block;
	text-align: center;
}

.note {
	width: 65%;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 0;
}

.course_tab_row {
	justify-content: space-between;
}

.course_tab_row .col-lg-12 {
	max-width: 70%;
	padding: 0;
}

.course_tab_row .product__details__tab__content {
	padding: 50px 20px;
}

.course_price_wrap {
	width: 28%;
	height: fit-content;
	border: 1px solid #e6e6e6;
	border-radius: 5px;
	margin-top: 30px;
}

.course_price {
	font-weight: 600;
	text-align: left;
	padding: 20px 17px;
	font-size: 23px;
}

.course_price_free,
.course_price_pay {
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	color: #fff;
	padding: 10px;
	border-radius: 5px 5px 0 0;
}
.course_price_free {
	background: #e5503c;
}
.course_price_pay {
	background: #232e67;
}

.course_price_bottom {
	margin: 0;
	padding: 15px;
}

.course_price_bottom li {
	list-style: none;
	font-size: 14px;
	color: #343a40;
	padding-left: 7px;
}

.course_price_bottom li::before {
	content: '';
	display: inline-block;
	width: 4px;
	height: 4px;
	margin: -5px 10px 0 0;
	vertical-align: middle;
	background: #343a40;
	border-radius: 50%
}

.button_wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	align-items: center;
}

.button_wrap .btn-green {
	padding: 12px 30px 10px 30px;
	background-color: #fff;
	border-radius: 5px;
	font-weight: 700;
	color: #3188db;
	border: 1px solid #3188db;
	margin: 10px 0;
	transition: all 0.4s;
}

.button_wrap .btn-green:hover {
	background-color: #3188db;
	color: #fff;
}
.button_wrap .btn-green-p,
.button_wrap .btn-green-p-cart {
	padding: 12px 50px 10px 50px;
	margin: 0;
}
.button_wrap .btn-green-p-cart {
	background-color: #3188db;
	color: #fff;
}
.button_wrap .btn-green-p-cart:hover {
	background-color: #185896;
}

/* 강의 모달창 */
.btnWrap {
	width: 500px;
	margin: 100px auto;
}

.popupBtn {
	width: 150px;
	height: 50px;
	padding: 10px 5px;
}

.modalWrap {
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	padding-top: 100px;
	/* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
	display: none;
}

.modalBody {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 15px;
	width: 60vw;
	height: 60vh;
	max-width: 949px;
	min-height: 620px;
	padding: 30px 30px;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.closeBtn {
	/*float:right;*/
	font-weight: bold;
	color: #777;
	font-size: 25px;
	cursor: pointer;
}

.bold_text {
	font-size: 20px;
	font-weight: 700;
	padding: 12px 0;
}

.modalBody_top {
	display: flex;
	justify-content: space-between;
}

.subcourse_list_wrap {
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

.subcourse_data .col_7 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
	height: 50px;
	margin: 0 10px;
	border-bottom: 1px solid #e6e6e6;
}

.subcourse_data .col_7 .col_left {
	display: flex;
}

.subcourse_data .col_7 .col_left p {
	padding: 0 5px;
}

.subcourse_data .col_7 .col_left p:nth-child(2) {
	width: 28vw;
	max-width: 430px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.subcourse_data .col_7 .col_left p:nth-child(3) {
	min-width: 53px;
	color: #9e9e9e;
}

#tabs-5 h5,
#tabs-6 h5 {
	position: relative;
	padding-left: 35px;
}

#tabs-5 h5 span,
#tabs-6 h5 span {
	position: absolute;
	top: -4px;
	left: 3px;
}

.play_btn {
	display: flex;
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
	padding-right: 15px;
}

/* 리뷰영역 */
.reviw_tab_title {
	padding-bottom: 50px;
}
.reviw_col_top {
	display: flex;
	align-items: center;
	gap: 10px;
}
.review_tab_content .col_7 {
	padding: 15px 10px;
	border-bottom: 1px solid #e6e6e6;
}
.review_tab_content .col_7:first-child {
	border-top: 1px solid #e6e6e6;
}
.reviw_content {
	padding-top: 15px;
}
#reviewStars {
	border: 1px solid #e6e6e6;
    padding: 10px;
    border-radius: 5px;
    color: #5d5d5d;
}
#reviewStars option {
	border: 1px solid #e6e6e6;
}
#reviw_write_area {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-bottom: 50px;
}
.review_item_title {
	padding: 10px 0;
}
.review_item_title,
.review_item_title .required {
	font-size: 18px;
	font-weight: 700;
}
.review_item_title .required {
	color: red;
}
.review_item_title span {
	font-size: 14px;
	font-weight: 500;
	color: #888;
}
.review_write_top {
	display: flex;
	justify-content: space-between;
}
.review_write_top .review_submit {
	border: none;
	font-size: 13px;
	background-color: #4e565f;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	margin: 10px 0 10px 10px;
}
.review_edit, .review_del {
	border: none;
	font-size: 13px;
	color: #c5c5c5;
	text-decoration: underline;
	background-color: transparent;
}
.review_date {
	margin-right: 10px;
}
.nice-select {
	float: none;
	max-width: 160px
}
.textarea_wrap {
	width: 100%;
	height: 100px;
}
.textarea_wrap textarea {
	width: 100%;
	height: 100%;
	resize: none;
	border: none;
	padding: 10px;
	border: 1px solid #e6e6e6;
	border-radius: 5px;
}
.textarea_wrap textarea::placeholder {
	color: #e6e6e6;
}