@charset "UTF-8";

.course-item {
	border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 15px;
}

.course-item-pic {
	height: 150px;
}

.product__item__text h6 {
	min-height: 40px;
}

.shop__sidebar__categories ul li span {
	color: #b7b7b7;
    font-size: 15px;
    line-height: 32px;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    cursor: pointer;
}
.shop__sidebar__tags span {
	color: #404040;
	font-size: 13px;
	font-weight: 700;
	background: #f1f5f8;
	padding: 5px 18px;
	display: inline-block;
	text-transform: uppercase;
	margin-right: 6px;
	margin-bottom: 10px;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.shop__sidebar__tags span:hover,
.shop__sidebar__tags span.active {
    background: #111111;
    color: #ffffff !important;
    cursor: pointer;
}
.product__pagination button {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #111111;
    height: 30px;
    width: 30px;
    border: 1px solid transparent;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    background-color: #fff;
    padding: 0;
    margin: 0 3px;
}
.product__pagination button.active {
    border-color: #111111;
}
.product__pagination button:hover {
    border-color: #111111;
}

.product__item__text .rating i {
	color: #ffbc00;
}

/*.breadcrumb__links span:after {
    position: absolute;
    left: 10px; 
    top: 20px; 
    content: '';
    width: 50px;  사이즈 
    height: 50px;  사이즈 
    border-top: 5px solid #000;  선 두께 
    border-right: 5px solid #000;  선 두께 
    transform: rotate(45deg); 
}*/


