@charset "UTF-8";

.course_tab_row .product__details__tab__content {
	padding: 0 10px;
}
.course_script_wrap {
	flex-direction: column;
	gap: 35px;
	padding: 30px 20px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.intro_text {
	width: 50%;
	font-size: 20px;
}
.note_info {
	width: 90%;
	text-align: left;
}
.note {
	width: 90%;
}
.course_data {
	cursor: pointer;
}
.course_data svg,
.note_info svg {
	margin-bottom: 3px;
	margin-right: 5px;
}
.course_name_wrap_sgap {
	gap: 0px;
}
.course_name_wrap_sgap .intro_text {
	margin-bottom: 35px;
}
.impossible_alert {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	line-height: 50px;
	padding: 20px;
	background-color: #dc3545;
}
.impossible_alert div {
	display: flex;
	align-items: center;
	justify-content: center;
}
.impossible_alert svg {
	margin: 0 5px 5px 0;
}
.impossible_alert .message {
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	margin: 0;
}

.course_pic{position: relative;}
.course_pic .course_discount {
	position: absolute;
	top: 10px;
	left: 10px;
	color: #fff;
	background-color: #ff3b00;
	padding: 5px 10px;
	border-radius: 5px;
	font-weight: 700;
	font-size: 13px;
}
.course_pic .course_discount svg {
	margin-bottom: 3px;
	margin-right: 3px;
}
.button_wrap {
	margin-top: 20px;
}

/* 원가에 취소선 */
.course-price {
	display: flex;
	gap: 10px;
	align-items: center;
}
.course-price span {
	height: 30px;
	line-height: 30px;
	font-weight: 700;
}
.course-price span:last-child {
	font-size: 22px;
}
.course-wonga {
	text-decoration: line-through;
	color: #8f959a;
	font-size: 18px;
}