<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.four.study.memberCourse.map.MemberCourseMapper">
	<select id="selectMemberCourseList" resultType="co.four.study.memberCourse.service.MemberCourseVO" parameterType="co.four.study.member.service.MemberVO">
		SELECT * FROM MEMBERS_COURSES WHERE MEMBER_ID = #{memberId}
	</select>
	
	<select id="selectMemberCourse" resultType="co.four.study.memberCourse.service.MemberCourseVO">
		SELECT * FROM MEMBERS_COURSES WHERE MEMBER_ID = #{memberId}
	</select>
	
	<insert id="insertMemberCourse" parameterType="co.four.study.memberCourse.service.MemberCourseVO">
		INSERT INTO MEMBERS_COURSES VALUES (#{memberId}, #{courseId}, 0)
	</insert>
	
	<delete id="deleteMemberCourse" parameterType="co.four.study.memberCourse.service.MemberCourseVO">
		DELETE FROM MEMBERS_COURSES WHERE MEMBER_ID = #{memberId} and course_id = #{courseId}
	</delete>
	
	<select id="countJindo" resultType="co.four.study.memberCourse.service.MemberCourseVO">
		SELECT count,
		       (SELECT COUNT(1)
		        FROM subcourses
		        WHERE course_id = #{courseId}) tcnt
		FROM members_courses
		where member_id = #{memberId}
		and course_id = #{courseId}
	</select>
	
	<select id="category" resultType="String" parameterType="co.four.study.member.service.MemberVO">
		SELECT C.COURSE_MAIN_CATEGORY 
		FROM MEMBERS_COURSES MC JOIN COURSES C ON MC.COURSE_ID = C.COURSE_ID 
		WHERE MEMBER_ID = #{memberId}
	</select>
	
	<select id="priceSum" resultType="Integer" parameterType="co.four.study.member.service.MemberVO">
		SELECT NVL(SUM(C.COURSE_PRICE),0)
		FROM MEMBERS_COURSES MC JOIN COURSES C ON  MC.COURSE_ID = C.COURSE_ID
		WHERE MEMBER_ID = #{memberId}
	</select>
	
	<select id="courseStudent" parameterType="co.four.study.course.service.CourseVO" resultType="Integer">
		SELECT COUNT(*) FROM MEMBERS_COURSES WHERE COURSE_ID = #{courseId}
	</select>
	
	<select id="distinctStudentCategory" parameterType="co.four.study.memberCourse.service.MemberCourseVO" resultType="String">
		SELECT distinct C.COURSE_MAIN_CATEGORY
		FROM MEMBERS_COURSES MC JOIN COURSES C 
		ON C.COURSE_ID = MC.COURSE_ID 
		WHERE MC.MEMBER_ID = #{memberId}
	</select>
	
	<select id="countStudentCategory" parameterType="co.four.study.memberCourse.service.MemberCourseVO" resultType="Integer">
		SELECT count(*) 
		FROM MEMBERS_COURSES MC JOIN COURSES C ON MC.COURSE_ID = C.COURSE_ID 
		WHERE MEMBER_ID = #{memberId} and COURSE_MAIN_CATEGORY = #{courseMainCategory}
	</select>
	

</mapper>