<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.four.study.answer.map.AnswerMapper">
	
	<select id="answerSelectList" resultType="co.four.study.answer.service.AnswerVO">
		SELECT	*
		FROM	ANSWERS
	</select>
	
	<select id="answerSelectListbyQ" resultType="co.four.study.answer.service.AnswerVO">
		SELECT	*
		FROM	ANSWERS WHERE QUESTION_ID = #{questionId}
	</select>
	
	<select id="answerSelect" resultType="co.four.study.answer.service.AnswerVO">
		SELECT	*
		FROM	ANSWERS
		WHERE	ANSWER_ID = #{answerId}
	</select>
	
	<insert id="answerInsert" parameterType="co.four.study.answer.service.AnswerVO">
		<selectKey keyProperty="answerId" resultType="int" order="BEFORE">
			SELECT NVL(MAX(ANSWER_ID), 0) + 1 AS ANSWER_ID FROM ANSWERS
		</selectKey>
		INSERT INTO ANSWERS (ANSWER_ID, QUESTION_ID, MEMBER_ID, ANSWER_CONTENT, ANSWER_ENTER_DATE)
		VALUES (#{answerId}, #{questionId}, #{memberId}, #{answerContent}, SYSDATE)
	</insert>
	
	<update id="answerUpdate" parameterType="co.four.study.answer.service.AnswerVO">
		UPDATE ANSWERS
		<set>
			<if test="answerContent != null">ANSWER_CONTENT = #{answerContent},</if>
			ANSWER_UPDATE_DATE = SYSDATE,
			<if test="answerImg != null">ANSWER_IMG = #{answerImg},</if>
			<if test="answerImg != 'delete'">ANSWER_IMG = null</if>
		</set>
		WHERE ANSWER_ID = #{answerId}
	</update>
	
	<delete id="answerDelete" parameterType="co.four.study.answer.service.AnswerVO">
		DELETE FROM ANSWERS
		WHERE ANSWER_ID = #{answerId}
	</delete>
	
	<select id="sortAnswersWithPaging" resultType="co.four.study.answer.service.AnswerVO">
		SELECT *
		FROM (SELECT ROWNUM AS rm, a.*
			  FROM (SELECT *
				    FROM answers
				    <where>
				    	<if test="questionId != 0">
				    		AND question_id = #{questionId}
				    	</if>
				    	<if test="memberId != null">
				    		AND member_id = #{memberId}
				    	</if>
				    </where>
				    <trim prefix="ORDER BY">
		                <if test="sortType != 'registDate'">answer_id DESC</if>
		                <if test="sortType == 'registDate'">answer_id</if>
		            </trim>) a )
	     WHERE rm BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<select id="countQuestionAnswer" resultType="int">
		SELECT COUNT(*)
		FROM answers
		WHERE question_id = #{id}
	</select>
	
	<select id="countQuestionSolvedAnswer" resultType="int">
		SELECT COUNT(*)
		FROM answers
		WHERE question_id = #{id} AND
			  answer_solve = 'solved'
	</select>
	
	<select id="countMemberAnswer" resultType="int">
		SELECT COUNT(*)
		FROM answers
		WHERE member_id = #{id}
	</select>
	
	<update id="setAnswerSolved" parameterType="co.four.study.answer.service.AnswerVO">
		UPDATE answers
		SET answer_solve = 'solved'
		WHERE answer_id = #{answerId}
	</update>
	
	<update id="setAnswerNotSolved" parameterType="co.four.study.answer.service.AnswerVO">
		UPDATE answers
		SET answer_solve = 'not_solved'
		WHERE answer_id = #{answerId}
	</update>
	
</mapper>