<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.four.study.bucket.map.BucketMapper">
	<select id="bucketSelectList" resultType="co.four.study.bucket.service.BucketVO">
		SELECT * FROM BUCKET
	</select>
	
	<select id="bucketSelect" resultType="co.four.study.bucket.service.BucketVO">
		SELECT * FROM BUCKET WHERE MEMBER_ID = #{memberId}
	</select>
	
	<insert id="bucketInsert" parameterType="co.four.study.bucket.service.BucketVO">
		INSERT INTO BUCKET VALUES (#{memberId}, #{courseId})
	</insert>
	
	<delete id="bucketDelete" parameterType="co.four.study.bucket.service.BucketVO">
		DELETE BUCKET WHERE MEMBER_ID = #{memberId} AND COURSE_ID = #{courseId}
	</delete>
	
</mapper>