<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.four.study.bucket.map.BucketMapper">
	<select id="bucketSelectList" resultType="co.four.study.bucket.service.BucketVO">
		SELECT * FROM BUCKET
		<if test="memberId != null">WHERE MEMBER_ID = #{memberId}</if>
	</select>
	
	<select id="bucketSelect" resultType="co.four.study.bucket.service.BucketVO">
		SELECT * FROM BUCKET WHERE MEMBER_ID = #{memberId}
		<if test="courseId != 0">AND COURSE_ID = #{courseId}</if>
	</select>
	
	<insert id="bucketInsert" parameterType="co.four.study.bucket.service.BucketVO">
		INSERT INTO BUCKET VALUES (#{memberId}, #{courseId})
	</insert>
	
	<delete id="bucketDelete" parameterType="co.four.study.bucket.service.BucketVO">
		DELETE BUCKET WHERE MEMBER_ID = #{memberId} AND COURSE_ID = #{courseId}
	</delete>
	
	<select id="countBucket" resultType="Integer" parameterType="co.four.study.member.service.MemberVO">
		SELECT COUNT(*) 
		FROM BUCKET WHERE MEMBER_ID = #{memberId}
	</select>
	
	<select id="memberBucketList" resultType="co.four.study.course.service.CourseVO" parameterType="co.four.study.bucket.service.BucketVO">
		SELECT A.COURSE_ID, A.COURSE_NAME, A.COURSE_PRICE, A.COURSE_IMG, B.MEMBER_ID
		FROM COURSES A, BUCKET B
		WHERE A.COURSE_ID = B.COURSE_ID
		AND   B.MEMBER_ID = #{memberId}
	</select>
	
	<select id="sumCoursesPrice" resultType="Integer" parameterType="co.four.study.bucket.service.BucketVO">
		SELECT SUM(A.COURSE_PRICE) COURSES_PRICE
		FROM COURSES A, BUCKET B
		WHERE A.COURSE_ID = B.COURSE_ID
		AND   B.MEMBER_ID = #{memberId}
	</select>
	
	<delete id="bucketDeleteAll" parameterType="co.four.study.bucket.service.BucketVO">
		DELETE BUCKET WHERE MEMBER_ID = #{memberId}
	</delete>
</mapper>