<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.four.study.board.map.BoardMapper">
	<select id="boardSelectList" resultType="co.four.study.board.service.BoardVO">
		SELECT *
		FROM boards b
		<trim prefix="ORDER BY">
            <if test="sortType == 'mostRecent'">board_id DESC</if>
            <if test="sortType == 'mostHit'">board_hit DESC, board_id DESC</if>
            <if test="sortType == 'mostLike'">
	            (SELECT COUNT(*)
				 FROM recommends r
				 WHERE r.board_id = b.board_id AND
				 	   r.recommend_value = 'like') DESC, board_id DESC
            </if>
        </trim>
	</select>
	
	<select id="boardSelect" resultType="co.four.study.board.service.BoardVO">
		SELECT *
		FROM boards
		WHERE board_id = #{boardId}
	</select>
	
	<insert id="boardInsert" parameterType="co.four.study.board.service.BoardVO">
		<selectKey keyProperty="boardId" resultType="int" order="BEFORE">
        	SELECT NVL(MAX(board_id), 0) + 1 AS board_id FROM boards
      	</selectKey>
		INSERT INTO boards(board_id, member_id, board_title, board_content, board_img)
		VALUES(#{boardId}, #{memberId}, #{boardTitle}, #{boardContent}, #{boardImg})
	</insert>
	
	<update id="boardUpdate" parameterType="co.four.study.board.service.BoardVO">
		UPDATE boards
		<set>
			<if test="boardTitle != null">board_title = #{boardTitle},</if>
			<if test="boardContent != null">board_content = #{boardContent},</if>
			<if test="boardImg != null">board_img = #{boardImg},</if>
			<if test="boardImg == 'delete'">board_img = null,</if>
			board_update_date = SYSDATE
		</set>
		WHERE board_id = #{boardId}
	</update>
	
	<delete id="boardDelete" parameterType="co.four.study.board.service.BoardVO">
		DELETE FROM boards
		WHERE board_id = #{boardId}
	</delete>
	
	<select id="searchBoards" resultType="co.four.study.board.service.BoardVO">
		SELECT *
		FROM boards b
		<where>
			<if test="searchType == 'boardTitle'">
				AND board_title LIKE '%' || #{searchContent} || '%'
			</if>
			<if test="searchType == 'boardContent'">
				AND board_content LIKE '%' || #{searchContent} || '%'
			</if>
			<if test="searchType == 'boardWriter'">
				AND member_id LIKE '%' || #{searchContent} || '%'
			</if>
		</where>
		<trim prefix="ORDER BY">
            <if test="sortType == 'mostRecent'">board_id DESC</if>
            <if test="sortType == 'mostHit'">board_hit DESC</if>
            <if test="sortType == 'mostLike'">
	            (SELECT COUNT(*)
				 FROM recommends r
				 WHERE r.board_id = b.board_id AND
				 	   r.recommend_value = 'like') DESC, board_id DESC
            </if>
        </trim>
	</select>
	
	<select id="searchBoardsWithPaging" resultType="co.four.study.board.service.BoardVO">
		SELECT *
		FROM (SELECT ROWNUM AS rm, a.*
			  FROM (SELECT *
				    FROM boards b
				    <where>
					    <if test="searchType == 'boardTitle'">
					 	    AND board_title LIKE '%' || #{searchContent} || '%'
					    </if>
					    <if test="searchType == 'boardContent'">
						    AND board_content LIKE '%' || #{searchContent} || '%'
					    </if>
					    <if test="searchType == 'boardWriter'">
						    AND member_id LIKE '%' || #{searchContent} || '%'
					    </if>
					    <if test="memberId != null">
							AND member_id = #{memberId}
						</if>
				    </where>
				    <trim prefix="ORDER BY">
		                <if test="sortType != 'mostHit' and sortType != 'mostLike'">board_id DESC</if>
		                <if test="sortType == 'mostHit'">board_hit DESC</if>
		                <if test="sortType == 'mostLike'">
			                (SELECT COUNT(*)
						     FROM recommends r
						     WHERE r.board_id = b.board_id AND
						 	       r.recommend_value = 'like') DESC, board_id DESC
		                </if>
		            </trim>) a )
	     WHERE rm BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<select id="countBoards" resultType="int">
		SELECT COUNT(*)
		FROM boards
		<where>
			<if test="searchType == 'boardTitle'">
				AND board_title LIKE '%' || #{searchContent} || '%'
			</if>
			<if test="searchType == 'boardContent'">
				AND board_content LIKE '%' || #{searchContent} || '%'
			</if>
			<if test="searchType == 'boardWriter'">
				AND member_id LIKE '%' || #{searchContent} || '%'
			</if>
			<if test="memberId != null">
				AND member_id = #{memberId}
			</if>
		</where>
	</select>
	
	<update id="updateBoardHit" parameterType="int">
		UPDATE boards
		SET board_hit = board_hit + 1
		WHERE board_id = #{id}
	</update>
</mapper>