<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.four.study.member.map.MemberMapper">

	<select id="memberSelectList"
		resultType="co.four.study.member.service.MemberVO">
		SELECT * FROM MEMBERS
	</select>

	<select id="memberSelect"
		resultType="co.four.study.member.service.MemberVO">
		SELECT *
		FROM MEMBERS
		WHERE MEMBER_ID = #{memberId}
		<if test="memberPassword != null">
			AND MEMBER_PASSWORD = #{memberPassword}
		</if>
	</select>



	<insert id="memberInsert"
		parameterType="co.four.study.member.service.MemberVO">
		INSERT INTO MEMBERS
		VALUES (#{memberId},
		#{memberPassword}, #{memberName}, #{memberTel},
		#{memberAddress},
		#{memberEmail},
		SYSDATE , null, 'client')
	</insert>

	<update id="memberUpdate"
		parameterType="co.four.study.member.service.MemberVO">
		UPDATE MEMBERS
		<set>
			<if test="memberName != null">MEMBER_NAME = #{memberName},</if>
			<if test="memberTel != null">MEMBER_TEL = #{memberTel},</if>
			<if test="memberAddress != null">MEMBER_ADDRESS = #{memberAddress},</if>
			<if test="memberEmail != null">MEMBER_EMAIL = #{memberEmail},</if>
			<if test="memberStopDate != null">MEMBER_STOP_DATE = #{memberStopDate}</if>
		</set>
		WHERE MEMBER_ID = #{memberId}

	</update>

	<delete id="memberDelete"
		parameterType="co.four.study.member.service.MemberVO">
		DELETE FROM MEMBERS
		WHERE MEMBER_ID = #{memberId}

	</delete>

	<update id="memberBlock"
		parameterType="co.four.study.member.service.MemberVO">
		UPDATE MEMBERS SET MEMBER_STOP_DATE = NULL WHERE
		MEMBER_ID = #{memberId}
	</update>

	<select id="memberPage"
		resultType="co.four.study.member.service.MemberVO">
		select * from members where member_id = #{memberId}
	</select>

	<select id="memberList"
		resultType="co.four.study.member.service.MemberVO">
		SELECT * FROM MEMBERS WHERE MEMBER_AUTHOR = 'client' ORDER
		BY MEMBER_ENTER_DATE
	</select>


	<select id="memberSearchPass"
		resultType="co.four.study.member.service.MemberVO">
		SELECT *
		FROM MEMBERS
		WHERE MEMBER_ID = #{memberId}
		AND MEMBER_EMAIL = #{memberEmail}
	</select>


	<update id="memberPassReset"
		parameterType="co.four.study.member.service.MemberVO">
		UPDATE MEMBERS
		<set>
			MEMBER_PASSWORD = #{memberPassword}
		</set>
		WHERE MEMBER_ID = #{memberId}
		AND MEMBER_EMAIL = #{memberEmail}
	</update>
	
	<select id="employeeList" resultType="co.four.study.member.service.MemberVO">
		SELECT * FROM MEMBERS WHERE MEMBER_AUTHOR = 'admin' ORDER BY MEMBER_ENTER_DATE
	</select>


</mapper>